:root {
    --dark-dark-1: #182021;
    --font-dark-212121: #212121;
    --alerts-error-d-86161: #D86161;
    --font-grey-27-a-7-a-7-a: #7A7A7A;
    --body-bg: #E6E6E6;
    --font-grey-27-a-7-a-7-a: #7A7A7A;
    --elements-color-card-border-e-6-e-6-e-6: #E6E6E6;
    --elements-color-card-color-ffffff: #FFF;
}

body {
    background-color: var(--body-bg);
    font-family: 'Poppins', sans-serif;
}

.job-card {
    width: 577px;
    max-width: 100%;
    /* height: 586px;*/
    height: 100%;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
}

.bg-blue {
    background-color: #1597E4;
}

.text-white {
    color: #ffffff;
}


/* .job-card-detail {
    padding: 16px 24px 16px 24px!important;
    font-family: 'Poppins', sans-serif;
    width: 830px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #DADEDF;
} */

.heading-main {
    color: var(--dark-dark-1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.stepper>div {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: #182021;
}

.rounded-md {
    border-radius: 5px;
}

label {
    color: var(--font-dark-212121);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

label span.astricks {
    color: var(--alerts-error-d-86161);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

input::placeholder {
    color: var(--font-grey-27-a-7-a-7-a);
    font-weight: 400;
}

input {
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--elements-color-card-border-e-6-e-6-e-6);
    background: var(--elements-color-card-color-ffffff);
}

.mt-24 {
    margin-top: 24px
}

.mb-06 {
    margin-bottom: 0.6rem;
}

.mt-93 {
    margin-top: 93px;
}

.mr-16 {
    margin-right: 16px;
}

.mt-14 {
    margin-top: 14px
}

.p-32 {
    padding: 32px
}

.mb-8 {
    margin-bottom: 8px;
}

input[type="radio"] {
    color: var(--font-grey-27-a-7-a-7-a);
}

input[type="radio"]~label {
    color: var(--font-grey-27-a-7-a-7-a);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 142.857% */
}

.img-sample {
    width: 48px;
    height: 48px;
}

.job-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.company {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.location {
    color: #646464;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.description-main>div {
    color: #212427;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}